<div class="row">
    <div class="col-md-4 col-md-offset-4">   
        <form action="" method="post">
            <div class="form-header">
                <h1 class="text-center">Create new Account</h1>
            </div>
            <div class="form-body">
                <div class="form-group">
                    <label for="User ID">Full name</label>
                    <input type="text" placeholder="Full name" name="fullname" id="fullname" class="form-control">                     
                </div>
                <div class="form-group">
                    <label for="User ID">User ID</label>
                    <input type="text" placeholder="User ID" name="userid" id="userid" class="form-control">                  
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="text" placeholder="Password" name="username" id="password" class="form-control">
                </div>
                <div class="form-group">
                    <label for="User ID">Email</label>
                    <input type="text" placeholder="Email" name="email" id="email" class="form-control">                     
                </div>
                <div class="form-group">
                    <label for="User ID">Address</label>
                    <input type="text" placeholder="Address" name="address" id="address" class="form-control">                   
                </div>
                    <div class="form-group">
                    <label for="User ID">Age</label>
                    <input type="text" placeholder="Age" name="age" id="age" class="form-control">                  
                </div>
            </div>
            <div class="form-footer">
                <div class="btn-group pull-right">
                    <!--<input type="hidden" name="_csrf" value="{{csrfToken}}">-->
                    <button type="submit" class="btn btn-primary pull-left">Create</button>
                    <button type="cancel" class="btn btn-danger pull-right">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>