<div class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a href="/user/signup">Sign Up</a></li>
    <li><a href="/user/createuser">Create new user</a></li>
    <li><a href="/user/profile">Profile</a></li>
  </ul>