<div class="row">
    <div class="col-md-4 col-md-offset-4">   
        <form action="" method="post">
            <div class="form-header">
                <h1 class="text-center">Help</h1>
            </div>
            <div class="form-body">
                <div class="form-group">
                    <label for="content">Comment</label>
                    <input type="text" id="userid" class="form-control" style="width:500px; height:600px">
                </div>
            </div>
            <div class="form-footer">
                <div class="btn-group pull-right">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    <button type="submit" class="btn btn-primary pull-left">Send</button>
                    <button type="cancel" class="btn btn-danger pull-right">Cancel</button>
                </div>
                <a href=""><span class="glyphicon glyphicon-phone"> 070 - 4371 - 8613</span></a>
            </div>
        </form>
    </div>
</div>